<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>loginServlet</servlet-name>
        <servlet-class>com.bd2.proyecto1.loginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>createPublicacionServlet</servlet-name>
        <servlet-class>com.bd2.proyecto1.createPublicacionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editPublicacionServlet</servlet-name>
        <servlet-class>com.bd2.proyecto1.editPublicacionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deletePublicacionServlet</servlet-name>
        <servlet-class>com.bd2.proyecto1.deletePublicacionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>registerProductServlet</servlet-name>
        <servlet-class>com.bd2.proyecto1.registerProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteProductServlet</servlet-name>
        <servlet-class>com.bd2.proyecto1.deleteProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editProductServlet</servlet-name>
        <servlet-class>com.bd2.proyecto1.editProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>createOfertaServlet</servlet-name>
        <servlet-class>com.bd2.proyecto1.createOfertaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editOfertaServlete</servlet-name>
        <servlet-class>com.bd2.proyecto1.editOfertaServlete</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteOfertaServlet</servlet-name>
        <servlet-class>com.bd2.proyecto1.deleteOfertaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>createProductoServlet</servlet-name>
        <servlet-class>com.bd2.proyecto1.createProductoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>categoryPubServlet</servlet-name>
        <servlet-class>com.bd2.proyecto1.categoryPubServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>categoryOfferServlet</servlet-name>
        <servlet-class>com.bd2.proyecto1.categoryOfferServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>goMainServlet</servlet-name>
        <servlet-class>com.bd2.proyecto1.goMainServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>misProductosServlet</servlet-name>
        <servlet-class>com.bd2.proyecto1.misProductosServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>misPublicacionesServlet</servlet-name>
        <servlet-class>com.bd2.proyecto1.misPublicacionesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>misOfertasServlet</servlet-name>
        <servlet-class>com.bd2.proyecto1.misOfertasServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>misOfertasRecibidasServlet</servlet-name>
        <servlet-class>com.bd2.proyecto1.misOfertasRecibidasServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>todasPublicacionesServlet</servlet-name>
        <servlet-class>com.bd2.proyecto1.todasPublicacionesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>rejectOfertaServlet</servlet-name>
        <servlet-class>com.bd2.proyecto1.rejectOfertaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>acceptOfertServlet</servlet-name>
        <servlet-class>com.bd2.proyecto1.acceptOfertServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>loginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>createPublicacionServlet</servlet-name>
        <url-pattern>/createPublicacion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editPublicacionServlet</servlet-name>
        <url-pattern>/editPublicacion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deletePublicacionServlet</servlet-name>
        <url-pattern>/deletePublicacion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>registerProductServlet</servlet-name>
        <url-pattern>/registerProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteProductServlet</servlet-name>
        <url-pattern>/deleteProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editProductServlet</servlet-name>
        <url-pattern>/editProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>createOfertaServlet</servlet-name>
        <url-pattern>/createOferta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editOfertaServlete</servlet-name>
        <url-pattern>/editOferta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteOfertaServlet</servlet-name>
        <url-pattern>/deleteOferta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>createProductoServlet</servlet-name>
        <url-pattern>/createProducto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>categoryPubServlet</servlet-name>
        <url-pattern>/categoryPub</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>categoryOfferServlet</servlet-name>
        <url-pattern>/categoryOffer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>goMainServlet</servlet-name>
        <url-pattern>/goMain</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>misProductosServlet</servlet-name>
        <url-pattern>/misProductos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>misPublicacionesServlet</servlet-name>
        <url-pattern>/misPublicaciones</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>misOfertasServlet</servlet-name>
        <url-pattern>/misOfertas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>misOfertasRecibidasServlet</servlet-name>
        <url-pattern>/misOfertasRecibidas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>todasPublicacionesServlet</servlet-name>
        <url-pattern>/todasPublicaciones</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>rejectOfertaServlet</servlet-name>
        <url-pattern>/rejectOferta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>acceptOfertServlet</servlet-name>
        <url-pattern>/acceptOfert</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
